<div *ngIf="gameData">
  <div class="table-container">
    <table class="table-outline">
      <tr *ngFor="let row of gameData">
        <td *ngFor="let word of row">
          <span class="word"
                [ngClass]="'white'"
                [attr.id]="Object.keys(word)[0]"
                (click)="toggleClass($event, word)">
            {{ Object.keys(word)[0] }}
          </span>
        </td>
      </tr>
    </table>
  </div>

  <!-- Button to restart the game -->
  <button (click)="restartGame()" class="button-outline">Restart Game</button>

</div>
