header {
  display: flex;
  justify-content: space-between;
}


h3 {

}

.team {
  margin: 5px;
  flex: 1; /* Each team takes up equal space */

}

.team.red {
  text-align: left;

}

.team.blue {
  text-align: right;

}

.score-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

.score {
  margin: 10px; /* Adjust spacing between scores */
}

/* Red Team */
.red {
  color: red;
}

/* Blue Team */
.blue {
  color: blue;
}

.container {
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.container > div {
  text-align: center; /* Center text within the div */
}

/* Table */
.table-container {
  margin-top: 20px;
}

.table-outline {
  border-collapse: collapse;
  width: 100%;
}

.table-outline td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-outline td.red {
  background-color: red;
}

.table-outline td.blue {
  background-color: blue;
}

.table-outline td.yellow {
  background-color: yellow;
}

.table-outline td.black {
  background-color: black;
}

/* Word Colors */
.word {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-weight: bold;
  justify-content: center;
  line-height: 1.5rem;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

.word:hover {
  box-shadow: rgba(0, 0, 0, .3) 8px 8px 8px 8px;
  transform: translate3d(0, 2px, 0);
}

.word:focus {
  box-shadow: rgba(0, 0, 0, .3) 8px 8px 8px 8px;
}

.word.red {
  background-color: red;
}

.word.blue {
  background-color: blue;
}


.word.yellow {
  background-color: yellow;
}


.word.black {
  background-color: black;
}


.word.active:hover {
  color: black;
}

.word.black.active:hover {
  color: white;
}

/* Restart Button */
.button-outline {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.button-outline:hover {
  background-color: #f0f0f0;
}
